@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DCFAAE;
  transition: background-color .3s;
}

h1, h2 {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}

.hide {
  display: none;
}

/*MENU SCREEN*/

.menu {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}


#deer {
  position: absolute;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);
  width: 300px;;
}

/*SETTINGS SCREEN*/

.settings {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.settings-buttons a {
  display: inline-block;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid #131313;
  padding: 5px 10px;
  margin: 20px 20px 0px 20px;
  transition: background-color .1s, color .1s;
  text-decoration: none;
  color: #131313;
  font-weight: 300;
  font-family: 'DM Mono', monospace;
}

.settings-buttons a:hover {
  background-color: #131313;
  color: #fafafa;
}

.settings-buttons {
  width: 100%;
  text-align: center;
}

/*GAME SCREEN*/

.tamagotchi {
  position: absolute;
  display: block;
  width: 100%;
  top: 50vh;
  transform: translateY(-50%);
  font-size: 80px;
  text-align: center;
}

.buttons a, .menu-buttons a {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #131313;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  transition: background-color .1s;
  text-decoration: none;
  color: #131313;
  font-weight: 300;
  font-family: 'DM Mono', monospace;
  transition: background-color .1s, color .1s;
}

.buttons a:hover, .menu-buttons a:hover {
  background-color: #131313;
  color: #fafafa;
}

.buttons, .menu-buttons {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

.hp {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.hp span {
  font-weight: 500;
}

.hp p {
  display: inline;
}

@media (max-width: 860px) {
  .hp {
    font-size: 20px;
  }
  .buttons a, .menu-buttons a, .settings-buttons a {
    font-size: 30px;
  }
  }

@media (max-width: 540px) {
  .hp p {
    font-size: 20px;
    display: block;
  }
  .buttons a, .menu-buttons a, .settings-buttons a {
    font-size: 20px;
    margin: 20px 5px 0px 5px;
  }
}

@media (max-width: 540px) {
  .hp p {
    font-size: 20px;
    display: block;
  }
  .buttons a, .menu-buttons a, .settings-buttons a {
    font-size: 20px;
    margin: 20px 2px 0px 2px;
  }

}

