@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #DCFAAE; /* Grass color */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* White with 80% opacity */
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.popup {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    z-index: 5;
    max-width: 80%;
    margin: 0 auto;
}

#popup-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

#popup-content {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.scene {
    position: relative;
    width: 90%;
    max-width: 4000px; 
    height: 700px;
}


.sky {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #D1E1F3;
    top: 0;
}

.todaji {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 200px;
    width: 400px;
    z-index: 1;
}

.shrine {
    position: absolute;
    left: 60%;
    top: 320px;
    width: 150px;
    z-index: 1;
}

.senbei {
    position: absolute;
    left: 2%;
    top: 520px;
    width: 160px;
    z-index: 3;
}

.deer {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 500px;
    width: 200px;
    z-index: 1;
}

.deerStanding {
    position: absolute;
    left: 38%;
    top: 400px;
    width: 50px;
    z-index: 1;
}

.deerFrame1 {
    position: absolute;
    left: 18%;
    top: 490px;
    width: 100px;
    z-index: 1;
    transform: scaleX(-1);
}

.deerFrame2 {
    position: absolute;
    left: 68%;
    top: 430px;
    width: 100px;
    z-index: 1;
}

.babyDeer {
    position: absolute;
    left: 68%;
    top: 480px;
    width: 80px;
    z-index: 2;
}

.ladyBowing {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 470px;
    width: 120px;
    z-index: 1;
}

.ladyBackwards {
    position: absolute;
    left: 50%;
    top: 400px;
    height: 80px;
    z-index: 1;
}


.street {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 375px;
    width: 530px;
    z-index: 0;
}

.sakuraLeft {
    position: absolute;
    left: 2%;
    top: 200px;
    width: 400px;
    z-index: 2;
}

.sakuraRight {
    position: absolute;
    right: 2%;
    transform: scaleX(-1);
    top: 200px;
    width: 400px;
    z-index: 2;
}


.takemikazuchi {
    position: absolute;
    right: 14%;
    top: 50px;
    width: 100px;
    z-index: 1;
    opacity: 0.8;
}

.cloudRight {
    position: absolute;
    right: 14%;
    top: 100px;
    width: 300px;
    z-index: 1;
    opacity: 0.7;
}

.cloudLeft {
    position: absolute;
    left: 8%;
    top: 20px;
    width: 300px;
    z-index: 1;
    transform: scaleX(-1);
    opacity: 0.7;
}

@media (max-width: 900px) {
    .scene {
        width: 80%;
        height: 560px;
    }

    .todaji {
        width: 320px;
    }

    .street {
        width: 420px;
        top: 390px;
        transform: translateX(-50%) scaleY(1.4);
    }

    .sakuraLeft,
    .sakuraRight {
        width: 320px;
        top: 270px;
    }

    .deer {
        width: 150px;
        top: 540px;
    }

    .ladyBowing {
        width: 90px;
        top: 520px;
        left: 40%;
    }
}

@media (max-width: 600px) {
    .scene {
        width: 70%;
        height: 490px;
    }

    .todaji {
        width: 320px; 
    }

    .street {
        width: 420px;
        top: 420px;
        transform: translateX(-50%) scaleY(1.6);
    }

    .sakuraLeft,
    .sakuraRight {
        width: 220px;
        top: 350px;
    }

    .deer {
        width: 120px;
        top: 575px;
    }

    .ladyBowing {
        width: 70px;
        top: 560px;
    }

    .senbei {
        top: 520px;
        width: 90px;
    }
}

